<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://github.com/jaykishan12-cs"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://github.com/jaykishan12-cs"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/jaykishanwardani12_cs/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jaykishan-wardani-a785432b7/"> <i class="fa-brands fa-linkedin"></i></a>
           <a href="https://x.com/jaykishan12_cs?t=G_rg0MpUz1hYvqc464nHlg&s=09"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div class="f-info-brand">
           &copy; AirBnb Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy" >Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>