<% layout("/layouts/boilerplate") %>

<body>
 

<div class="row">
    <div class="col-6 offset-3">
           <h3 style="margin-top: 30px;">Create A New Listing</h3>

     <form method="POST" action="/listings" novalidate  class="needs-validation" enctype="multipart/form-data">
         <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"  placeholder="Enter Title" type="text" class="form-control" required>
            <div class="invalid-feedback">Please Enter Title</div>
         </div>

         <div  class="mb-3"> 
            <label for="description" class="form-label">Description</label>
             <textarea name="listing[description]"  placeholder="Enter Title" class="form-control" required></textarea>
             <div class="invalid-feedback">Please Enter Short Description</div>
         </div>

          <div  class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
             <input name="listing[image]"  placeholder="Enter Image URL"  type="file" class="form-control" >
         </div>

         <div  class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]"  placeholder="Enter price" type="number"  class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
         </div>

         <div class="row">
            <div  class="mb-3 col-md-4">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]"  placeholder="Enter Location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please Enter Location</div>
         </div>

         <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]"  placeholder="Enter Country" type="text" class="form-control" required>
            <div class="invalid-feedback">Please Enter Country</div>
         </div>
         </div>
         
         <br>
       
        

        <button class="btn btn-dark" style="margin-bottom: 60px;">ADD</button>
        <br>

    </form>
    </div>
</div>
</body>
