<% layout("/layouts/boilerplate") %>


<div class="row mt-4">
    <h2 class="col-4 offset-4">Sign Up </h2>
    <div class="col-4 offset-4 mt-4">

        <form action="/signup" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" name="username"  placeholder="Enter username" type="text" class="form-control" required>
                <div class="invalid-feedback">Please Enter Username</div>
                <div class="valid-feedback">Looks Good</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email"  placeholder="Enter Email" type="text" class="form-control" required>
                <div class="invalid-feedback">Please Enter Email</div>
                <div class="valid-feedback">Looks Good</div>
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password"  placeholder="Enter Password" type="password" class="form-control" required>
                <div class="invalid-feedback">Please Enter password</div>
                <div class="valid-feedback">Looks Good</div>
            </div>

            <button class="btn mb-5 btn-red">Sign Up</button>
        </form>

    </div>
</div>